.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.combo-large {
  width: 100%;
  min-height: 36px;
  border-color:rgb(204, 204, 204) ;
  border-width: 1px;
  border-radius: 4px;
}

.font-bigger {
  font-size: 5em;
  font-weight: bolder;
  text-align: center;
}

.font-big {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.center-aligned {
  text-align: center;
}

.filter-font-big {
  font-size: 1.5em;
  font-weight: bolder;
}

.font-small {
  font-size: smaller;
}

.empty-td {
  height: 2.1em;
}

.error {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.MuiGrid-item.filter-grid-item {
  padding-top: 6px !important;
}
