node_modules
npm-debug.log
mongo-*
coverage
db-data/Covid19Casos.csv
db-data/UpdatedData.zip
db-data/filtered.zip
.nyc_output
.git
docker-compose.yml
enunciado
codecov.yml
coverage.lcov
Dockerfile
init-mongo.js
